.menu
{

    display: inline;

    margin-left:25%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #cccccc;
    color:black;
    border-style: solid;
    text-align: center;
    border: 5px solid #aaaaaa;
    border-radius:15px;

    

  
}